*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    background: white;
    color: #FA8072;

}

.nav_bar{
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    color: #FA8072;
    padding: 15px 10%
    

}

.nav_name{
    color: #FA8072;
    text-decoration: none;
    cursor: pointer;
    margin: 8px;
    font-size: 24px;
}

.nav_links ul{
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav_links li{
    list-style: none;
}
.nav_links li a{
    text-decoration: none;
    color:#6F7378;
    padding: 8px;
    display: block;
}



.nav_bar ul li a::after{
    content:'';
    width: 0;
    height: 2px;
    left: 0;
    margin: auto;
    display: block;
    background-color: #FA8072;


}

.nav_bar ul li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

.toggle_button{
    position: absolute;
    top: 23px;
    right: 25px;
    margin-right: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle_button .bar{
    height: 3px;
    width: 100%;
    background-color: #6F7378;
    border-radius: 10px;
}

@media (max-width: 700px){
    .toggle_button{
        display: flex;
    }

    .nav_links{
        display:none;
        width: 100%;
    }
    .nav_bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_links ul{
        width:100%;
        flex-direction: column;
    }
    .nav_links li{
        text-align: center;
    }
    .nav_links li a {
        padding: 8px 16px;
    }
    .nav_links.active {
        display: flex;
    }
   
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.home{
    display: flex;
    height: 100vh;
    background-image: url(../photos/header.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
}

.logo{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_title{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size-adjust: auto;
    font-size: 40px;
}

.image_description{
    position: absolute;
    top: 56%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 25px;
}

.class_title {
    position: relative;
    margin: 80px auto;
    text-align: center;
    font-size: 35px;
    max-width: 600px;
}

.class_title:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #FA8072;
    position: absolute;
    left: 0;
    top: 50%;
}

.class_title:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #FA8072;
    position: absolute;
    right: 0;
    top: 50%;
}

.about_description p{
    font-size: 20px;
    text-align: center;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-top: 1em ;
    margin-bottom: 1em ;

}

.progress-side{
    width: 50%;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.progress-bar{
    left: 50%;
    width: 100%;
    height: 18px;
    background: #FA8072;
}


.progress-title h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
}

.progress{
    height: 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar{
    border-radius: 20px;
    animation: animate-positive 2s;
}

.progress .progress-value{
    width: 65px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color:#000;
    position: absolute;
    right:60px;
    text-align: right;
}

@-webkit-keyframes animate-positive{
    0%{
        width: 0;
    }
}
@keyframes animate-positive{
    0%{
        width: 0;
    }
}

.class_title_proj {
    position: relative;
    margin: 80px auto;
    text-align: center;
    font-size: 35px;
    max-width: 600px;
    padding-top: 320px;
}

.class_title_proj:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #FA8072;
    position: absolute;
    left: 0;
    top: 93.7%;
}

.class_title_proj:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #FA8072;
    position: absolute;
    right: 0;
    top: 93.7%;
}

@media (max-width: 700px){
    .progress-side{
        width: 100%;
        float: left;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .class_title_proj {
        position: relative;
        margin: 80px auto;
        text-align: center;
        font-size: 35px;
        max-width: 600px;
        padding-top: 600px;
    }

    .class_title_proj:before{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: #FA8072;
        position: absolute;
        left: 0;
        top: 96.7%;
    }
    
    .class_title_proj:after{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: #FA8072;
        position: absolute;
        right: 0;
        top: 96.7%;
    }
}

.project_container{
    border: 3px solid white;
    padding: 30px;    
    display: block;
}

.project_box{
    margin: 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_content{
    text-align: center;
}
.top_2_l{
    margin-right: 20px;
}

.row1{
    display: flex;
    padding-bottom: 20px;
}


.git_link{
    text-decoration: none;
}

.git_link h2{
    text-align: center;
    color: #000;
    padding-bottom: 5px;
}

.git_link:hover{
    cursor: pointer;
}

.git_link h2::after{
    content:'';
    width: 0;
    height: 2px;
    left: 0;
    margin: auto;
    display: block;
    background-color: #FA8072;


}

.git_link h2:hover::after {
    width: 50%;
}

.contact_line {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: #FA8072;
    position: absolute;
}


.contact_title{
    padding: 20px;
    text-align: center;
    color: #000;
}

.email{
    text-align: center;
}

.contact_button{
    text-align: center;
    padding-top: 10px;
}